.form{
  padding: 20px;
}

.form__input{
  margin-right: 30px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  border:none;
  border:1px solid black;
  border-radius: 15px;
  margin-left:500px;
}

.form__button{
  border:none;
  border:1px solid black;
  border-radius: 5px;
  padding: 10px 10px;
}


.form__list{
  list-style: none;
}

.form__item{
  margin: 5px;
  padding: 5px;
  border :1px solid #AFB3B6;
  border-radius: 5px;
  width: 200px;
}
